<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <!-- Link to Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container mt-5">
        <h1>Edit Book</h1>

       
        <form th:action="@{/save}" th:object="${book}" method="post">
           
            <input type="hidden" th:field="*{id}" />

            <div class="mb-3">
                <label for="author" class="form-label">Author:</label>
                <input type="text" id="author" th:field="*{author}" class="form-control" required />
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" th:field="*{title}" class="form-control" required />
            </div>

            <div class="mb-3">
                <label for="isbn" class="form-label">ISBN:</label>
                <input type="text" id="isbn" th:field="*{isbn}" class="form-control" required />
            </div>

            <div class="mb-3">
                <label for="publicationYear" class="form-label">Year:</label>
                <input type="number" id="publicationYear" th:field="*{publicationYear}" class="form-control" required />
            </div>

           
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/Booklist" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>

</html>
